.tutorials-index {
    min-height: calc(100vh - 60px);
    background-color: #ffffff;
    gap: 100px;
}

.tutorials-index .card-container {
    width: 90%;
    height: 50vh;
}

.tutorials-index .card-item {
    flex: 1;
    margin: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: black;
}

.tutorials-index .card-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 20;
}

.tutorials-index .card-item h2 {
    text-decoration: none;
    color: white;
}

.categories-search {
    margin-top: 20px;
}

.categories-search input {
    height: 100px;
    width: 100vh;
    border-radius: 50px;   
    border: 1px solid black;
    text-align: center;
}

@media (max-width: 768px) {
    .tutorials-index .card-container {
        flex-direction: column;
        height: auto;
    }
    .tutorials-index .card-item {
        margin: 20px 0;
        height: 150px;
    }
}